@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Medium.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/Gilroy-Regular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
    url('../fonts/Gilroy-ExtraBold.woff') format('woff');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
    url('../fonts/Gilroy-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  /* Блочная модель */
  margin: 0;

  /* Типографика */
  font-family: 'Gilroy', sans-serif;
}

a {
  /* Типографика */
  color: inherit;
  text-decoration: none;
}

.main-content {
  /* Блочная модель */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  /* Оформление */
  background-color: #222020;
}


.title {
  /* Блочная модель */
  margin-bottom: 30px;

  /* Типографика */
  font-family: 'Graphik LCG', sans-serif;
  color: white;
}

.title-2 {
  /* Блочная модель */
  margin-top: 104px;
  margin-bottom: 79px;
  padding-left: 102px;

  /* Типографика */
  font-size: 48px;
  color: #222020;
}


.download {
  /* Блочная модель */
  padding: 20px;
  border: 3px solid #2f1ce4;

  /* Типографика */
  color: white;

  /* Оформление */
  background-color: #2f1ce4;
}

.next-link {
  /* Блочная модель */
  display: inline-block;
  padding: 20px;
  border: 3px solid white;

  /* Типографика */
  color: white;

  /* Оформление */
  background-color: inherit;
}

.container {
  /* Блочная модель */
  width: 1170px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}


.return {
  /* Блочная модель */
  padding-left: 25px;

  /* Оформление */
  background-image: url('../img/return.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}

.container-h2 {
  /* Блочная модель */
  padding-left: 180px;
  margin-top: 100px;
  margin-bottom: 25px;

  /* Типографика */
  font-size: 36px;
  color: #2f1ce4;
}

.list {
  /* Блочная модель */
  padding-left: 200px;

  /* Типографика */
  font-size: 18px;
}

.text-p {
  /* Блочная модель */
  padding-left: 180px;
  margin-bottom: 20px;
}

.table {
  /* Блочная модель */
  margin-top: 100px;
  border: 2px solid #000;
  border-collapse: collapse;
  padding: 5px
}

.table td, .table th {
  /* Блочная модель */
  border: 2px solid #000;
  padding: 5px;
}

.images {
  /* Блочная модель */
  padding-left: 160px;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 50px;

  /* Типографика */
  text-align: center;
}

.container-img {
  /* Блочная модель */
  max-width: 420px;
}

.container2 {
  margin: 0 auto;
}

.header {
  max-width: 153px;
  margin-top: 50px;
  margin-bottom: 104px;
}

.logo-wrapper {
  margin-bottom: 60px;

}

.header-logo {
  font-family: 'Graphik LCG', sans-serif;
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 56px;
}

.header-back {
  padding-left: 30px;
  background-image: url('../img/return.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.body-content {
  width: 1020px;
  margin: 0 auto;
}

.body-hd {
  margin-bottom: 79px;
  padding-left: 23px;
  min-width: 631px;
  font-size: 48px;
  color: #222020;
}

.list1 {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 16px;
}

.card {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 480px;
  min-height: 505px;
  margin-right: 60px;
  margin-bottom: 60px;
  box-shadow: -3px 1px 20px rgba(83, 83, 83, 0.31);
  background-color: #ffffff;
}

.right {
  margin-right: 0;
}

.list-font {
  text-align: left;
  margin-bottom: 29px;
  font-size: 36px;
  color: #2f1ce4;
}

.list-tab-content {
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.16px;
}

.number {
  position: absolute;
  right: 23px;
  bottom: 25px;
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  color: #eaeaea;
}

.list-button {
text-align: center;
}

.btn-text {
  width: 280px;
  height: 80px;
  border-radius: 2px;
  border: 3px solid #2f1ce4;
  font-size: 18px;
  color: #2f1ce4;
  background-color:#ffffff;
}

.body-bg {
  padding: 0 30px 620px;
  background-image: url('../img/card/Фигура_1.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;
}

.button-next {
  margin-top: 37px;
  text-align: center;
}

.button-modules {
  width: 280px;
  height: 80px;
  border-radius: 2px;
  border: 3px solid #2f1ce4;
  font-size: 18px;
  color: #2f1ce4;
}

.next {
  padding-left: 957px;
  padding-right: 25px;

  background-image: url('../img/next.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}

.list-menu {
  list-style: none;
  padding-left: 0;
  line-height: 35px;
}

.picture {
  width: 100%;
  min-height: 176px;
  background-repeat: no-repeat;
}

.picture1 {
  background-image: url('../img/card/photo-1530435460869-d13625c69bbf.jpg');
}

.picture2 {
  background-image: url('../img/card/photo-1516101922849-2bf0be616449.jpg');
}

.picture3 {
  background-image: url('../img/card/photo-1507721999472-8ed4421c4af2.jpg');
}

.picture4 {
  background-image: url('../img/card/photo-1539278670307-a69d04dc8a75.jpg');
}

.card-wrapper {
  padding-left: 53px;
}
